{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>EDIT</h1>
    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token%}
        <label>Enter Title:</label>
        <input type="text" name ="title" placeholder="Enter title here" value="{{title}}">
        <br>
        <label>Enter The Text:</label>
        <br>
        <textarea name="content">{{content}}</textarea>
        <br>
        <input type="Submit" value ="edit" class="btn btn-primary">

    </form>
    
{% endblock %}