{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New</h1>
    <form action="{% url 'new' %}" method="POST">
        {% csrf_token%}
        <label>Enter Title:</label>
        <input type="text" name ="title" placeholder="Enter title here">
        <br>
        <label>Enter The Text:</label>
        <br>
        <textarea name="content"></textarea>
        <br>
        <input type="Submit" value ="New Page" class="btn btn-primary">

    </form>
    
{% endblock %}